<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户编辑</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ user.id }}" name="userId" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ user.username }}" name="username" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ user.realname }}" name="realName" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" value="" name="password" lay-verify="title"
                               autocomplete="off" placeholder="请输入新密码，不更新则不填"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">钻石</label>
                    <div class="layui-input-block">
                        <input type="number" value="{{ user.diamonds }}" name="diamonds" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题"
                               class="layui-input">
                    </div>
                </div>
                            <div class="layui-form-item">
                    <label class="layui-form-label">文字</label>
                    <div class="layui-input-block">
                        <input type="number" value="{{ user.words }}" name="words" lay-verify="title"
                               autocomplete="off" placeholder="请输入标题"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份</label>
                    <div class="layui-input-block">
                        <select name="identity_type" lay-verify="required" placeholder="请选择身份"
                                class="layui-select">
                            <option value="">请选择身份</option>
                            <option value="学生" {% if user.identity_type == "学生" %}selected{% endif %}>学生</option>
                            <option value="上班族" {% if user.identity_type == "上班族" %}selected{% endif %}>上班族</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        {% for role in roles %}
                            <input{% if role.id in checked_roles %}
                                checked
                            {% endif %}
                                value="{{ role.id }}" title="{{ role.name }}" type="radio"
                                name="roleIds" lay-skin="primary">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="user-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree


        form.on('submit(user-update)', function (data) {

            $('input[type=radio]:checked').each(function () {
                roleId = $(this).val();
            })
            data.field.roleIds = roleId
            $.ajax({
                url: '/system/user/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('user-table')
                        })
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
    })
</script>
</body>
</html>